<html>
 
<head>
    <title>C.R.U.D</title>
    <style>
        .container {
            margin-left: 550px;
            margin-top: 150px;
            width: 300px;
            height: 100px;
            padding: 15px;
            background-color: aquamarine;
        }
    </style>
</head>
 
<body>
    <h1>Edit</h1>
    <p style="margin-left:550px;"><a href="/retrieve">Check data</a></p>
    <div class="container">
        <table>
            <tbody>
                <form action="/update/{{object.id}}" method="POST">
                    {% csrf_token %}
                    <tr>
                        <td> Name</td>
                        <td><input type="text" name="name" value="{{object.name}}"></td>
                    </tr>
                    <tr>
                        <td> Age</td>
                        <td><input type="text" name="age" value={{object.age}}></td>
                    </tr>
                    <tr>
                        <td> Address</td>
                        <td><textarea name='address'>{{object.address}}</textarea></td>
                    </tr>
                    <tr>
                        <td><button type="submit" name="update">Update</button></td>
                        <td><button type="submit" name="add">Add</button></td>
                    </tr>
                </form>
            </tbody>
        </table>
    </div>
</body>
 
</html>
